<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/red-cross.png" type="image/x-icon">
    <title>CareLinkUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/addreport.css">
    <link rel="stylesheet" href="../Assets/Header/headerl.css">
    <link rel="stylesheet" href="../Assets/Footer/footer.css">
</head>

<body>
    <div id="nav"></div>

    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="nbw">
                        My Report.
                        <div class="btns">
                            <a class=" about btn btn-success" href="./patientprofile.html" role="button">About</a>
                            <a class=" addprojects btn btn-success" href="./showreports.html" role="button">Reports</a>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-md-3 col-1"></div>
                <div class="col-md-6 col-10 boxname text-center justify-content-center" style="margin-top: 35px;">
                    <div class="text projname" style="margin-top: 70px;">
                        Enter Report Type.
                    </div>
                    <form name="myform" method="post">
                        <input class="textbox" type="text" name="projectname" id="" placeholder="Report Type"> <br>

                        <div class="btns" style="margin-top: 54.43px; margin-bottom: 71px;">
                            <a class=" start btn btn-success mt-lg-0 mt-3" style="padding-top: 8px;
                            padding-bottom: 8px;" href="./reportdets.html"" role="button">Start</a>
                            <a class=" start btn btn-success mt-lg-0 mt-3" style="padding-top: 8px;
                            padding-bottom: 8px;" href="./reportdets.html" role="button">Not Now</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-1"></div>
            </div>
        </div>
    </div>
</body>

</html>