<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../Assets/Images/favicon.svg" type="image/x-icon">
	<title>CareLinkUp</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/searchpatient.css">
</head>

<body>
	<div class="container complete">
		<div class="row">
			<div class="col-lg-9 order-lg-5 col-xs-12 col-12 cards">
				<div class="box">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Enter the OTP.</h4>
							<input type="text" class="text4" id="enter_code" autocomplete="off" placeholder="Enter Code">
							<div class="joins">
								<input type="submit" class="button2" value="Authenticate" onclick="verifyotp()">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container cards_container">
		<div class="row dam1">
	</div>
</body>
<script>
	function verifyotp(){
	const accountSid = "AC3690e617dc6eefd0612ef722bafe4c7c"
    const authToken = "8666e885a7f93e19c6126f233b860094"
    const serviceSid = "VA9ed919d699d8a0776d8e83c852d9c732"
    const client = require('twilio')(accountSid, authToken);
	
	let verificationCode = document.getElementByID("enter_code").value();

    let phoneNumber = 9104684900;

	client.verify.v2.services(serviceSid)
                    .verificationChecks
                    .create({to : '+91'+phoneNumber, code: ''+verificationCode})
                    .then(verification_check => console.log(verification_check.status));
	}
</script>
</html>