<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/red-cross.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
    <link rel="stylesheet" type="text/css" href="../Assets/Footer/footer.css">
    <title>CareLinkUp</title>
</head>

<body>
    <div id="nav"></div>
    <div class="mainsection">
        <div class="container">
            <div class="row">
                <div class="caption">
                    <h2 style="font-family: 'Fira Code'; font-weight: bold; font-size: 36px;">My Profile.</h2>
                </div>
                <div class="topmost_buttons">
                    <a class=" addprojects btn btn-success" role="button">About</a>
                    <a class=" about btn btn-success" href="../templates/addreport.html" role="button">Reports</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="m d-flex">
                        <div class="logo inputdeets">
                            <img src="../static/images/patient-svgrepo-com.svg"> <label for="image_uploads">
                                <a class="edit btn btn-success" role="button">Edit</a>
                            </label><input style="height: 0px; width: 0px;" type="file" id="image_uploads"
                                name="image_uploads" accept=".jpg, .jpeg, .png" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" id="save_button">
                    <div class="d-flex justify-content-center">
                        <!--<button id="square_inactive" class="square_inactive" onclick="update_account()">View requests</button>-->
                        <a id="square_inactive" class="square_inactive" href="../templates/requests.html">View Requests</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <form id="par_form" name="par_form" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">NAME<sym>*</sym></label>
                            <input type="text" class="form-control" id="name" autocomplete="off" required
                                placeholder="Name">
                            <small>Error Message</small>
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label">DATE OF BIRTH<sym>*</sym></label>
                            <input type="date" class="form-control" id="date" autocomplete="off" required
                                placeholder="dob" readonly="readonly">
                            <small>Error Message</small>
                        </div>
                        <div class="mb-3">
                            <label for="gender" class="form-label">GENDER<sym>*</sym></label>
                            <div type="text" class="form-control" id="gender" autocomplete="off" required
                                placeholder="Gender">
                            </div>
                            <small>Error Message</small>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">PHONE NUMBER<sym>*</sym></label>
                            <input type="number" class="form-control" id="phone" required autocomplete="off"
                                placeholder="Phone Number">
                            <small>Error Message</small>
                        </div>
                        <div class="mb-3">
                            <label for="age" class="form-label">AGE<sym>*</sym></label>
                            <input type="number" class="form-control" id="age" required autocomplete="off"
                                placeholder="age">
                            <small>Error Message</small>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 21rem;">
                            <div class="card-body">
                                <h5 class="card-title">Do you have any of these diseases?</h5>
                                <p>
                                    <input class="form-check-input" type="checkbox" id="Diabetes insipidus">
                                    <label class="check-label" for="flexCheckDefault">Diabetes insipidus</label>
                                </p>
                                <p>
                                    <input class="form-check-input" type="checkbox" id="hypertension">
                                    <label class="check-label" for="flexCheckDefault">Hypertension</label>
                                </p>
                                <p>
                                    <input class="form-check-input" type="checkbox" id="pcos">
                                    <label class="form-check-label" for="flexCheckDefault">PCOS</label>
                                </p>
                                <p>
                                    <input class="form-check-input" type="checkbox" id="hypothyroidism">
                                    <label class="check-label" for="flexCheckDefault">Hypothyroidism</label>
                                </p>
                                <p>
                                    <input class="form-check-input" type="checkbox" id="hyperthyroidism">
                                    <label class="check-label" for="flexCheckDefault">Hypethyroidism</label>
                                </p>
                                <p>
                                    <input class="form-check-input" type="checkbox" id="hypotension">
                                    <label class="check-label" for="flexCheckDefault">Hypotension</label>
                                </p>
                                <p>
                                    <input class="form-check-input" type="checkbox" id="diabetes mellitus?">
                                    <label class="check-label" for="flexCheckDefault">diabetes mellitus?</label>
                                </p>
                                <p class="d-flex justify-content-center" style="padding-top: 30px;">
                                    <button id="square_inactive" class="square_inactive" style="background:#1D2833;"
                                        onclick=addskills()>Submit</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bottommost_button">
                    <div class=" x col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex justify-content-center" id="bottom_square">
                            <a href="./participant_resetpwd.html"><button id="square_active" class="square_inactive">Reset Password</button></a>
                        </div>
                        <div class=" second d-flex justify-content-center" id="bottom_square">
                            <button id="square_inactive1" class="square_inactive1" onclick="delete_account()">Delete
                                Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="foobottom">

    </div>
</body>

</html>