<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/red-cross.png" type="image/x-icon">
    <title>CareLinkUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/requests.css">
</head>

<body>
    <div class="d-flex notification1" style="background: #1D2833;">
        <div class="notification-type-active flex-fill" id="requests" style="cursor: pointer">
            Requests</div>
        <div class="notification-type-inactive flex-fill" id="updates" style="cursor: pointer;">
            Updated Reports</div>
    </div>
    <div class="reqinv container-fluid">
        <div class='row reqinvrow'>
            <div class='col-12'>
                <div class='row'>
                    <div class='col-12'>
                        <nbw>
                        </nbw> Doctor Suman Gupta Of MAX Hospital has requested to view your reports.<nbw>
                        </nbw>
                    </div>
                </div>
                <div class='row justify-content-end' style='padding-top: 16px;'>
                    <input id="" class=' delete btn btn-success' name='accept' type='submit' value='ACCEPT' onclick="location.href='./newotp.html'" style='color: #fff; opacity: 1;'>
                    <input id="" name='reject' type='submit' value='REJECT' onclick='rejectreq(event.target.id)' style='color: #E7EFEF; opacity: 1; border: none; width: 60px;'>
                </div>
            </div>
        </div>
        <div class='row reqinvrow'>
            <div class='col-12'>
                <div class='row'>
                    <div class='col-12'>
                        <nbw>
                        </nbw> Doctor KK Sinha Of Asharfi Hospital has requested to view your reports.<nbw>
                        </nbw>
                    </div>
                </div>
                <div class='row justify-content-end' style='padding-top: 16px;'>
                    <input id="" class=' delete btn btn-success' name='accept' type='submit' value='ACCEPT' onclick='acceptreq(event.target.id)' style='color: #fff; opacity: 1;'>
                    <input id="" name='reject' type='submit' value='REJECT' onclick='rejectreq(event.target.id)' style='color: #E7EFEF; opacity: 1; border: none; width: 60px;'>
                </div>
            </div>
        </div>
        <div class='row reqinvrow'>
            <div class='col-12'>
                <div class='row'>
                    <div class='col-12'>
                        <nbw>
                        </nbw> Doctor Arup Ghosh Of Mansarovar Clinic has requested to view your reports.<nbw>
                        </nbw>
                    </div>
                </div>
                <div class='row justify-content-end' style='padding-top: 16px;'>
                    <input id="" class=' delete btn btn-success' name='accept' type='submit' value='ACCEPT' onclick='acceptreq(event.target.id)' style='color: #fff; opacity: 1;'>
                    <input id="" name='reject' type='submit' value='REJECT' onclick='rejectreq(event.target.id)' style='color: #E7EFEF; opacity: 1; border: none; width: 60px;'>
                </div>
            </div>
        </div>
    </div>
    <div id="foobottom"></div>
</body>

</html>